<a href="<%= survey_url %>">Back to Survey</a>
<ul>
	<% @survey.each do |question| %>
		<li><%= question.body %></li>
		<ul>
			<%= pie_chart current_user.friend_responses
																.joins(:choice)
																.where("choices.question_id = #{question.id}")
																.group("choices.body")
																.count,
						width: "500px",
						discrete: "true" %>
		</ul>
	<% end %>
</ul>