<ul>
	<% @survey.each do |question| %>
		<li><%= question.body %></li>
		<ul>
			<%= pie_chart question.responses.joins(:choice).group("choices.body").count,
						width: "500px",
						discrete: "true" %>
		</ul>
	<% end %>
</ul>